/** Общие стили **/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #1a1a1a;
  background: #fff;
  background: url("../img/Скриншот 24-04-2020 101929 1.jpg") center no-repeat;
  background-size: cover;
}
img {
  max-width: 100%;
  height: auto;
}
.menu-wrapper {
  margin-top: 5%;
}
.menu-wrapper ul {
  position: relative;
  width: 614px;
  height: 614px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  background: url("../img/Ellipse 2.svg") center no-repeat;
  background-size: 614px 614px;
  border: 1px solid #A116E7;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  backdrop-filter: blur(5px);
  transform: rotate(12deg);
  user-select: none;
}
.menu-wrapper ul::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 234px;
  height: 234px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
}
.menu-wrapper ul::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.menu-wrapper li {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  overflow: hidden;
}
.menu-wrapper li:nth-child(1) {
  transform: rotate(0deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(2) {
  transform: rotate(51.43deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(3) {
  transform: rotate(102.86deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(4) {
  transform: rotate(154.29deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(5) {
  transform: rotate(205.72deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(6) {
  transform: rotate(257.15deg) skew(38.57deg);
}
.menu-wrapper li:nth-child(7) {
  transform: rotate(308.58deg) skew(38.57deg);
}
.menu-wrapper li a {
  display: block;
  width: 300px;
  height: 300px;
  transform: rotate(-66.43deg) skew(38.57deg);
  position: absolute;
  bottom: -33px;
  right: -51px;
  text-decoration: none;
}
.menu-wrapper .active {
  display: none;
  position: absolute;
  top: -3px;
  left: 2px;
  width: 250.51px;
  height: 248.36px;
  transform: rotate(-10deg);
  width: 252.51px;
  height: 249.36px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-wrapper a:hover .active {
  display: block;
}
.menu-text {
  position: absolute;
  top: 70px;
  left: 83px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transform: rotate(108.43deg);
}
.menu-text .menu-title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.menu-text .menu-desc {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  font-feature-settings: 'ss01' on;
  color: #CCCCCC;
}
.menu-text .menu-icon {
  display: inline-block;
}
.menu-wrapper a:hover .menu-icon {
  filter: drop-shadow(0px 0px 10px #FFFFFF);
}
.engine .menu-text {
  transform: rotate(44.43deg) skew(-4deg);
}
.signal .menu-text {
  transform: rotate(96.43deg) skew(0deg);
}
.passengers .menu-text {
  top: 70px;
  left: 80px;
  transform: rotate(-5.57deg) skew(2deg);
}
.doors .menu-text {
  top: 70px;
  left: 66px;
  transform: rotate(-56.57deg) skew(0deg);
}
.windows .menu-text {
  top: 89px;
  left: 65px;
  transform: rotate(-110.57deg) skew(-4deg);
}
.hood .menu-text {
  top: 96px;
  left: 74px;
  transform: rotate(-159.57deg) skew(0deg);
}
.trunk .menu-text {
  top: 91px;
  left: 90px;
  transform: rotate(-209.57deg) skew(4deg);
}
